<!-- <nav class="navbar" style="background-color: #fafafa;">
  <ul>
    <li class="nav-item"><a href="#">Contador</a></li>
    <li class="nav-item"><a href="#">Linguagens</a></li>
  </ul>

</nav> -->
<ul class="nav justify-content-center" style="background-color: #fafafa;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/counter">Contador</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/languages">Linguagens</a>
    </li>
</ul>

<router-outlet></router-outlet>
